<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" >

</head>


<% if(message.success){ %>
    <div class="alert alert-success" role="alert">
        <%= message.success %>
    </div>
    <% } %>

<h1>Prueba EJS Flash</h1>